.row.d-flex.justify-content-center.text-center {
    padding-left: 20%;
    padding-right: 2%;
}

.step-container {
    width: 99.85%;
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: white;
    display: inline-block;
}

.fa-circle {
    background-color: lightgrey;
    color: #fff;
    padding: 2px 3.1555px;
    border-radius: 50%
}

.step-box {
    padding: 10px;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    background-color: #fff;
    text-align: center;
}

.step-box .step-title-0 {
    margin-top: 0px;
}

.step-box .active {
    background-color: #2196F3;
    color: #fff !important;
    border-left: 1px solid #2196F3;
    border-right: 1px solid #2196F3
}

.step-box .active .fa-circle {
    background-color: #fff !important;
    color: #2196F3
}

.fa-check {
    border-radius: 50%;
    background-color: #00C853;
    color: #fff;
    padding: 3px
}

.step-title-0 {
    margin-bottom: 0px
}

.step-title {
    font-size: 13px;
    position: relative;
    margin-left: 4px
}

.heading {
    margin-bottom: 40px
}

input,
textarea {
    padding: 8px 15px 8px 15px;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ECEFF1;
    border: 1px solid #ccc;
    font-size: 16px;
    letter-spacing: 1px
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid skyblue !important;
    outline-width: 0
}

/* button:focus {
        -moz-box-shadow: none !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        border: 1px solid green !important;
        outline-width: 0
    }*/

textarea {
    height: 100px
}

/*button {
    width: 120px;
    letter-spacing: 2px
}*/

.fit-image {
    width: 100%;
    object-fit: cover
}

@media screen and (max-width: 768px) {
    .break-line {
        display: block;
        float: none
    }
    .modal-dialog iframe {
        width: 100% !important;
    }
}

@media(max-width:566px) {
    .row.cst-row {
        display: unset !important;
        width: 100%;
    }
    .main-body .page-wrapper {
        padding: 1.8rem 0 !important;
    }
    .video-div {
        float: left !important;
        width: 100%;
        padding-top: 20px;
    }
}