section.terms-section {
    padding: 50px 0;
    box-sizing: border-box;
}

section.terms-section p {
    font-size: 18px;
    color: #000;
}

section.terms-section a {
    color: #00b2bd;
    font-weight: 600;
}

section.gold-banner-section {
    background: #ff783d;
    color: #fff;
    padding: 20px 0 30px;
    text-align: center;
}